.footer {
  background-color: $color_gray_darker;
  .payment {
    padding-left: 3%;
    @include max-w(306px);
    height: 39px;
    border: 1px solid $color_gray_light95;
    background-color: $color_white_c4;
  }
  .soc {
    width: 40px;
    height: 40px;
    background: url('../img/icon-instagram-social.svg') no-repeat;
    margin-left: 28%;
    display: inline-block;
  }
  &-container {
    min-height: 201px;
  }
  .footer-nav {
    padding-left: 2.5%;
  }
  &-nav-a {
    color: $color_white_c4;
    font-size: rem(20px);
    font-weight: 600;
  }
  &-nav-li {
    margin: 0 4%;
    @media screen and (max-width: $md) {
      margin: 3vw 7vw;
    }
  }
  .all-rights {
    color: $color_white_c4;
    font-size: rem(16px);
    background-color: $grey-6e;
  }
  .all-rights-text {
    margin-left: 56px;
  }
}

