.left-high {
  @include max-w(435px);
  box-shadow: 7px 8px 9px rgba(0, 0, 0, 0.16);
  &-header {
    @include for-black-header;
    padding: 13px 22px;
    &-span {
      max-width: 340px;
      &:after {
        @include btn-text-icon;
        width: 60px;
        height: 31px;
        margin: 0;
        transform: rotate(90deg);
      }
    }
    &:after {
      top: -31%;
      left: -10%;
    }
    &:hover {
      &:after {
        top: 200%;
      }
    }
  }
  &-body {
    margin-bottom: 6.16vh;
    &-tr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 50px;
      font-size: rem(18px);
      border-bottom: 1px solid $color_gray_light95;
      color: $color_gray_light95;

      &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &:last-of-type{
        border: none;
      }

      @include mobile-all(){
        padding: 10px 20px;
      }
    }
    &-th {
      padding:0 8px;
      width: 70%;

      &:nth-of-type(even){
        width: 30%;
      }
    }
  }
}
.price-kind-block {
  margin-bottom: 6.16vh;
  &-header {
    @include for-black-header;
    padding: 13px 6.4%;
    text-transform: uppercase;
    &-span {
      position: relative;
      color: $white-e9;
      font-size: rem(20px);
      padding-left: 58px;
      &:before {
        @include btn-text-icon;
        position: absolute;
        top: calc(50% - 12px);
        margin-left: 0;
        margin-right: 31px;
        transform: rotate(90deg) translateY(calc(50% - 12px));
        left: 0;
      }
    }
    &:hover {
      &:after {
        top: 200%;
      }
    }
  }
  &-text {
    padding: 45px 20px 2px 108px;
    max-width: 453px;
    box-sizing: initial;
    font-weight: 600;
    line-height: 35px;
    @include mobile-all() {
      padding-left: 20px;
    }
    p {
      margin-bottom: 0;
    }
    &.argon {
      max-width: 507px;
    }
  }
}