
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "template/template_vars";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "template/template_mixins";
@import "template/template_webfonts";
@import "template/template_styles";

@import "template/components/styles";

@import "template/libs/swiper.min";
@import "template/libs/lightbox.min";

@import "bootstrap-slider/bootstrap-slider";


#calc-app-body {
  .color-preview {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid #aaa;
    position: relative;
    bottom: -2px;
  }
}
.promo-gray {
  background-color: #6e6e6e;
  color: #FFF;
  p{
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-all() {
      font-size: 14px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 74px;
      height: 55px;
      background-image: url(/images/cruissant.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.5rem;
      @include mobile-all() {
        width: 48px;
        height: 35px;
      }
    }
  }
}
.desclaimer {
  p{
    color: #bf000c;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 0;
    margin-bottom: 0;
    @include mobile-all() {
      font-size: 10px;
      line-height: 1.2;
    }
  }
}
