
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "template/template_vars";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "template/template_mixins";
@import "template/template_webfonts";
@import "template/template_styles";

@import "template/components/styles";

@import "template/libs/swiper.min";
@import "template/libs/lightbox.min";

@import "bootstrap-slider/bootstrap-slider";


#calc-app-body {
  .color-preview {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid #aaa;
    position: relative;
    bottom: -2px;
  }
}
