.footer {
  background-color: $color_gray_darker;

  .payment {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    @include max-w(306px);
    background-color: $color_white_c4;

    @include mobile-all(){
      font-size: 16px;
    }
  }

  .soc {
    width: 40px;
    height: 40px;
    background: url('../img/icon-instagram-social.png') no-repeat;
    margin-left: 28%;
    display: block;
    @include mobile-all(){
      margin-left: 0;
    }
  }
  &-container {
    min-height: 201px;
  }

  &-nav-a {
    color: $color_white_c4;
    font-size: rem(20px);
    font-weight: 600;
  }
  &-nav-li {
    margin: 0 4%;
    @include mobile-all(){
      margin: 8px 0;
      width: 50%;
    }
  }
  .all-rights {
    color: $color_white_c4;
    font-size: rem(16px);
    background-color: $grey-6e;
  }
  .all-rights-text {
    margin-left: 56px;
  }
}

