.main-gallery {
  .swiper-slide {
    height: 150px;
    padding: 5px;
    &.active {
      border: 2px solid $color_red_c9;
    }
  }
  &.swiper-container {
    max-width: 630px;
    min-width: 100%;
  }
  .main-gallery-img {
    display: block;
    box-shadow: $main-box-shadow;
  }
}
.main-gallery-images {
  max-width: 640px;
}
.main-gallery-control {
  @include control-icon;
  position: static;
  margin-top: initial;
  transform: rotate(180deg);
}
.main-gallery-control-next {
  transform: rotate(360deg);
}
.main-gallery-wrapper {
  .swiper-button {
    @include controls;
    position: relative;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}
.lightbox .lb-container  .lb-image {
  border: 0;
}
