.main-promo-large {
  position: relative;
  overflow: hidden;

  &:after {
    @include black-img;
  }
  .card {
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card-img {
    height: 100%;
    position: absolute;
    &-overlay {
      @include max-w(978px);
      padding: 5% 15px;
      color: $white-e9;
      z-index: 1;
      position: relative;

      @include mobile-all() {
        position: relative;
      }
      .card-title {
        font-size: rem(24px);
        margin-bottom: 3%;
        @include mobile-all() {
          margin-bottom: 6%;
        }
      }
    }
  }
  .l-promo-link {
    text-align: right;
    .main-promo-large-link {
      color: $white-e9;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
