.ms-image {
  margin: auto;
  height: 100%;
}
.main-services {
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #575757;
  @media screen and (max-width: $md) {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  &-img {
    display: flex;
    width: 170px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    @include mobile-all(){
      width: 100%;
    }
  }
  &-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    &:hover {
      color: $color_red_c9;
      .main-services-label {
        color: $color_red_c9;
      }
    }
  }
  &-img4 {
    height: 76%;
  }
  &-img5 {
  }
  &-img6 {
  }
  &-block {
    text-align: center;
  }
  &-label {
    font-size: rem(14px);
    color: $color_black;
  }
}
